# Next.js
.next/
out/

# Dependencies
node_modules/

# Build outputs
*.tsbuildinfo
next-env.d.ts

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS
.DS_Store
Thumbs.db

# Vercel
.vercel
